@model Taste.FooterModel

<footer class="border-top text-center bg-my-shope py-3">
    <div class="container">
        &copy; @DateTime.Today.Year @Model.Application. All Rights Reserved. <a asp-page="/PrivacyPolicy/Index">Privacy Policy</a>.
    </div>
</footer>