@page "/blog"
@model Taste.Pages.Blog.IndexModel
@section head
{
    <link rel="stylesheet" href="~/css/blog.css" />
}

@section body
{
    @*<script src="~/js/product-details.js"></script>*@
}
<!-- Section Shop-->
<section class="mt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="pr-md-5">
                    <div class="row">
                        <div class="col-12">
                            @for (int i = 0; i < 3; i++)
                            {
                                <!-- Post Modern-->
                                <article class="mb-5">
                                    <div class="d-flex post-tag">
                                        <div><a class="text-uppercase border-right pr-3" href="#">Organic food</a></div>
                                        <div>
                                            <time class="post-modern-time pl-3" datetime="2020-08-09">August 9, 2020</time>
                                        </div>
                                    </div>
                                    <h3 class="post-modern-title font-size-title my-3">
                                        <a href="#">How can salmon be raised organically in fish farms?</a>
                                    </h3>
                                    <a class="post-modern-figure" href="#">
                                        <img src="~/images/post-7-800x394.jpg" alt="" width="800" height="394">
                                    </a>
                                    <p class="post-modern-text my-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                                    <a class="text-uppercase" href="blog-post.html">Read more</a>
                                </article>
                            }
                        </div>
                        <div class="col-12">
                            <h6 class="text-uppercase mb-3">Related Posts</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Post Classic-->
                                    <article class="post-feature bg-light">
                                        <a class="post-classic-figure" href="#"><img src="~/images/post-1-370x239.jpg" alt="" width="373" height="239"></a>
                                        <div class="p-sm-4">
                                            <div class="my-3">
                                                <time datetime="2020-09-08">August 9, 2020</time>
                                            </div>
                                            <h5 class="my-3"><a href="#">Top 5 Easy and Cheap Organic Breakfast Recipes</a></h5>
                                            <p class="my-3">Est velox nuptia, cesaris. Est dexter turpis, cesaris. Cum nixus persuadere, omnes fluctuies promissio flavum</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-sm-6">
                                    <!-- Post Classic-->
                                    <article class="post-feature bg-light">
                                        <a class="post-classic-figure" href="#"><img src="~/images/post-1-370x239.jpg" alt="" width="373" height="239"></a>
                                        <div class="p-sm-4">
                                            <div class="my-3">
                                                <time datetime="2020-09-08">August 9, 2020</time>
                                            </div>
                                            <h5 class="my-3"><a href="#">Top 5 Easy and Cheap Organic Breakfast Recipes</a></h5>
                                            <p class="my-3">Est velox nuptia, cesaris. Est dexter turpis, cesaris. Cum nixus persuadere, omnes fluctuies promissio flavum</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-wrap">
                        <!-- Bootstrap Pagination-->
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
                                <li class="page-item active"><span class="page-link">1</span></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row justify-content-md-between">
                    <div class="col-12">
                        <div class="text-center border p-4">
                            <a class="team-info-figure" href="#">
                                <img src="~/images/user-4-123x123.jpg" alt="" class="rounded-circle" width="123" height="123">
                            </a>
                            <h6 class="team-info-title my-3"><a href="#">Caroline Lopez</a></h6>
                            <p class="team-info-text">I am the leading editor and blogger at Farm website.</p>
                        </div>
                        <div class="input-group my-5">
                            <input type="text" class="form-control" placeholder="Search blog..." aria-label="Search blog..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="aside-item col-sm-6 col-md-5 col-lg-12 mb-5">
                        <h6 class="aside-title">Categories</h6>
                        <ul class="list-categories">
                            <li><a href="#">News</a><span class="list-categories-number">(18)</span></li>
                            <li><a href="#">Organic Food</a><span class="list-categories-number">(9)</span></li>
                            <li><a href="#">Health</a><span class="list-categories-number">(5)</span></li>
                            <li><a href="#">Smoothies</a><span class="list-categories-number">(8)</span></li>
                        </ul>
                    </div>
                    <div class="aside-item col-sm-6 col-lg-12 mb-5">
                        <h6 class="aside-title">Latest Posts</h6>
                        <div class="row row-20 row-lg-30 gutters-10">
                            <div class="col-6 col-lg-12">
                                <!-- Post Minimal-->
                                <article class="post post-minimal mb-3">
                                    <div class="d-flex flex-md-row align-items-center">
                                        <div class="hover-zoom">
                                            <a class="d-block" href="#">
                                                <img src="~/images/post-mini-1-106x104.jpg" alt="" width="106" height="104">
                                            </a>
                                        </div>
                                        <div class="ml-3">
                                            <p class="m-0"><a href="#">Why Organic Food is Full of Benefits</a></p>
                                            <div class="mt-2">
                                                <time datetime="2020-03-15">March 15, 2020</time>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-6 col-lg-12">
                                <!-- Post Minimal-->
                                <article class="post post-minimal mb-3">
                                    <div class="d-flex flex-md-row align-items-center">
                                        <div class="hover-zoom">
                                            <a class="d-block" href="#">
                                                <img src="~/images/post-mini-1-106x104.jpg" alt="" width="106" height="104">
                                            </a>
                                        </div>
                                        <div class="ml-3">
                                            <p class="m-0"><a href="#">Why Organic Food is Full of Benefits</a></p>
                                            <div class="mt-2">
                                                <time datetime="2020-03-15">March 15, 2020</time>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="aside-item col-sm-6 col-md-5 col-lg-12 mb-5">
                        <h6 class="aside-title">Popular tags</h6>
                        <div class="group-sm group-tags">
                        <a class="link-tag" href="#">Fruits</a>
                        <a class="link-tag" href="#">Vegetables</a>
                        <a class="link-tag" href="#">Drinks</a>
                        <a class="link-tag" href="#">Organic</a>
                        <a class="link-tag" href="#">Food</a>
                        <a class="link-tag" href="#">Smoothies</a></div>
                    </div>
                    <div class="aside-item col-sm-6 col-lg-12 mb-5">
                        <h6 class="aside-title">Archives</h6>
                        <ul class="list-marked list-archives d-inline-block d-md-block">
                            <li><a href="#">March 2020</a></li>
                            <li><a href="#">February 2020</a></li>
                            <li><a href="#">January 2020</a></li>
                            <li><a href="#">December 2020</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>