@model Taste.Models.MenuItem

<div class="col-sm-6 col-md-4 col-lg-3 pl-sm-3 pt-sm-4">
    <!-- Product-->
    <article class="product card">
        <div class="product-body">
            <div class="product-figure">
                <img src="~/images/product-1-95x175.png" alt="" width="95" height="175" />
            </div>
            <h5 class="product-title"><a href="#">@Model.Name</a></h5>
            <div class="product-price-wrap">
                <div class="product-price product-price-old">$30.00</div>
                <div class="product-price">$23.00</div>
            </div>
        </div><span class="product-badge product-badge-sale">Sale</span>
        <div class="product-button-wrap">
            <div class="product-button"><a class="btn btn-info" href="#">Details</a></div>
            <div class="product-button"><a class="btn btn-danger" href="#">Add To Card</a></div>
        </div>
    </article>
</div>