@page "/"
@model Taste.Pages.Customer.Home.IndexModel
@{
    ViewData["Title"] = "Home";
}
@section css
{
    <link rel="stylesheet" href="~/css/customer-home.css" />
}

<partial name="_Carousel" />
<partial name="_Services" />
@*<partial name="Products" />*@
@*@foreach (var category in Model.CategoryList)
{
    var menuItems = Model.MenuItemList.Where(c => c.CategoryId == category.Id);
    @if (menuItems.Count() > 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-success pl-1"><b>@category.Name</b></h2>

                    <div class="col-12">
                        <div class="row my-3">
                            @await Html.PartialAsync("Products", menuItems)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}*@

<partial name="_Counter" />
<partial name="_ClientAndProduct" />
<partial name="_Feedback" />