@page "/products"
@model Taste.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section css
{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/product.css" />
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/js/product.js"></script>
}

<section class="section text-md-left mt-4">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-4 col-xl-3 pl-0 pr-5">
                <div class="aside row justify-content-md-between">
                    <div class="aside-item col-12">
                        <h6 class="aside-title">Filter by Price</h6>
                        <div class="mt-4">
                            <input id="filter" data-slider-id='filterSlider' type="text" class="bg-white" value=""
                                   data-slider-min="10"
                                   data-slider-max="1000"
                                   data-slider-step="5"
                                   data-slider-value="[250,450]" />
                        </div>
                        <div class="mt-4 group-justify">
                            <div>
                                <button class="btn btn-primary" type="button">Filter</button>
                            </div>
                            <div class="rd-range-wrap">
                                <div class="rd-range-title">Price: $$</div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                        <h6 class="aside-title my-4">Categories</h6>
                        <ul class="list-shop-filter">
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-1" type="checkbox" class="checkbox-custom mr-4">All
                                </label><span class="list-shop-filter-number">(18)</span>
                            </li>
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox" class="checkbox-custom mr-4">Organic Food
                                </label><span class="list-shop-filter-number">(9)</span>
                            </li>
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-3" type="checkbox" class="checkbox-custom mr-4">Health
                                </label><span class="list-shop-filter-number">(5)</span>
                            </li>
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-4" type="checkbox" class="checkbox-custom mr-4">Smoothies
                                </label><span class="list-shop-filter-number">(8)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="aside-item col-sm-6 col-lg-12 mt-4 mb-2">
                        <h6 class="aside-title">Popular products</h6>
                        <div class="row mt-4">
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="d-flex flex-md-row align-items-center">
                                        <div class="m-2 hover-zoom">
                                            <a class="bg-white d-block " href="single-product.html">
                                                <img src="~/images/product-mini-1-106x104.png" class="" alt="" width="106" height="104">
                                            </a>
                                        </div>
                                        <div class="unit-body">
                                            <p class="m-0"><a href="single-product.html">Galia Melons</a></p>
                                            <p class="text-success">$25.00</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="d-flex flex-md-row align-items-center">
                                        <div class="m-2 hover-zoom">
                                            <a class="bg-white d-block " href="single-product.html">
                                                <img src="~/images/product-mini-1-106x104.png" class="" alt="" width="106" height="104">
                                            </a>
                                        </div>
                                        <div class="unit-body">
                                            <p class="m-0"><a href="single-product.html">Galia Melons</a></p>
                                            <p class="text-success">$25.00</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="d-flex flex-md-row align-items-center">
                                        <div class="m-2 hover-zoom">
                                            <a class="bg-white d-block " href="single-product.html">
                                                <img src="~/images/product-mini-1-106x104.png" class="" alt="" width="106" height="104">
                                            </a>
                                        </div>
                                        <div class="unit-body">
                                            <p class="m-0"><a href="single-product.html">Galia Melons</a></p>
                                            <p class="text-success">$25.00</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-xl-9">
                <div class="product-top-panel group-md">
                    <p class="product-top-panel-title">Showing 1–12 of 28 results</p>
                    <div>
                        <select>
                            <option value="1">Sort by newness</option>
                            <option value="2">Sort by popularity</option>
                            <option value="3">Sort by alphabet</option>
                        </select>
                    </div>
                </div>

                <div class="row row-lg py-4">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 pl-sm-2 pt-sm-4">
                            <!-- Product-->
                            <article class="product card">
                                <div class="product-body">
                                    <div class="product-figure">
                                        <img src="~/images/product-1-95x175.png" alt="" width="95" height="175" />
                                    </div>
                                    <h5 class="product-title"><a href="#">Product Name</a></h5>
                                    <div class="product-price-wrap">
                                        <div class="product-price product-price-old">$30.00</div>
                                        <div class="product-price">$23.00</div>
                                    </div>
                                </div><span class="product-badge product-badge-sale">Sale</span>
                                <div class="product-button-wrap">
                                    <div class="product-button"><a class="btn btn-outline-info" href="#">Details</a></div>
                                    <div class="product-button"><a class="btn btn-outline-danger" href="#">Add To Card</a></div>
                                </div>
                            </article>
                        </div>
                    }
                </div>

                <div class="pagination-wrap">
                    <!-- Bootstrap Pagination-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
                            <li class="page-item active"><span class="page-link">1</span></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>