@page
@model Taste.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <section class="section section-xxl bg-default text-md-left">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-4 col-xl-3">
                    <div class="aside row row-30 row-md-50 justify-content-md-between">
                        <div class="aside-item col-12">
                            <h6 class="aside-title">Filter by Price</h6>
                            <!-- RD Range-->
                            @*<div class="rd-range hasTooltip" data-min="0" data-max="999" data-min-diff="100" data-start="[66, 635]" data-step="1" data-tooltip="false" data-input=".rd-range-input-value-1" data-input-2=".rd-range-input-value-2"><div class="rd-range__wrap"><div class="rd-range__pointer rd-range__pointer-1" style="left: 7%;"><div class="rd-range__pointer-tooltip">66</div></div><div class="rd-range__pointer rd-range__pointer-2" style="left: 64%;"><div class="rd-range__pointer-tooltip">635</div></div><div class="rd-range__line" style="left: 7%; width: 57%;"></div> </div></div>
                    <div class="group-xs group-justify">
                        <div>
                            <button class="button button-sm button-secondary button-zakaria" type="button">Filter</button>
                        </div>
                        <div>
                            <div class="rd-range-wrap">
                                <div class="rd-range-title">Price:</div>
                                <div class="rd-range-form-wrap">
                                    <span>$</span>
                                    <input class="rd-range-input rd-range-input-value-1" type="text" name="value-1" style="width: 3.45ch;">
                                </div>
                                <div class="rd-range-divider"></div>
                                <div class="rd-range-form-wrap">
                                    <span>$</span>
                                    <input class="rd-range-input rd-range-input-value-2" type="text" name="value-2" style="width: 4.6ch;">
                                </div>
                            </div>
                        </div>
                    </div>*@
                        </div>
                        <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                            <h6 class="aside-title">Categories</h6>
                            <ul class="list-shop-filter">
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>All
                                    </label><span class="list-shop-filter-number">(18)</span>
                                </li>
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-2" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Organic Food
                                    </label><span class="list-shop-filter-number">(9)</span>
                                </li>
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-3" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Health
                                    </label><span class="list-shop-filter-number">(5)</span>
                                </li>
                                <li>
                                    <label class="checkbox-inline">
                                        <input name="input-group-radio" value="checkbox-4" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Smoothies
                                    </label><span class="list-shop-filter-number">(8)</span>
                                </li>
                            </ul>
                            <!-- RD Search Form-->
                            <form class="rd-search form-search" action="search-results.html" method="GET">
                                <div class="form-wrap">
                                    <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
                                    <label class="form-label rd-input-label" for="search-form">Search the shop...</label>
                                    <button class="button-search fl-bigmug-line-search74" type="submit"></button>
                                </div>
                            </form>
                        </div>
                        <div class="aside-item col-sm-6 col-lg-12">
                            <h6 class="aside-title">Popular products</h6>
                            <div class="row row-10 row-lg-20 gutters-10">
                                <div class="col-4 col-sm-6 col-md-12">
                                    <!-- Product Minimal-->
                                    <article class="product-minimal">
                                        <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                            <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-1-106x104.png" alt="" width="106" height="104"></a></div>
                                            <div class="unit-body">
                                                <p class="product-minimal-title"><a href="single-product.html">Galia Melons</a></p>
                                                <p class="product-minimal-price">$25.00</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-4 col-sm-6 col-md-12">
                                    <!-- Product Minimal-->
                                    <article class="product-minimal">
                                        <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                            <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-2-106x104.png" alt="" width="106" height="104"></a></div>
                                            <div class="unit-body">
                                                <p class="product-minimal-title"><a href="single-product.html">Pineapples</a></p>
                                                <p class="product-minimal-price">$30.00</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-4 col-sm-6 col-md-12">
                                    <!-- Product Minimal-->
                                    <article class="product-minimal">
                                        <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                            <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-3-106x104.png" alt="" width="106" height="104"></a></div>
                                            <div class="unit-body">
                                                <p class="product-minimal-title"><a href="single-product.html">Oranges</a></p>
                                                <p class="product-minimal-price">$20.00</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="product-top-panel group-md">
                        <p class="product-top-panel-title">Showing 1–12 of 28 results</p>
                        <div>
                            <div class="product-top-panel-sorting">
                                <select data-select2-id="1" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                    <option value="1" data-select2-id="3">Sort by newness</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="3">Sort by alphabet</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 142px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-vjlk-container"><span class="select2-selection__rendered" id="select2-vjlk-container" role="textbox" aria-readonly="true" title="Sort by newness">Sort by newness</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="row row-lg py-4">
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 pl-sm-2 pt-sm-4">
                                <!-- Product-->
                                <article class="product card">
                                    <div class="product-body">
                                        <div class="product-figure">
                                            <img src="~/images/product-1-95x175.png" alt="" width="95" height="175" />
                                        </div>
                                        <h5 class="product-title"><a href="#">Product Name</a></h5>
                                        <div class="product-price-wrap">
                                            <div class="product-price product-price-old">$30.00</div>
                                            <div class="product-price">$23.00</div>
                                        </div>
                                    </div><span class="product-badge product-badge-sale">Sale</span>
                                    <div class="product-button-wrap">
                                        <div class="product-button"><a class="btn btn-info" href="#">Details</a></div>
                                        <div class="product-button"><a class="btn btn-danger" href="#">Add To Card</a></div>
                                    </div>
                                </article>
                            </div>
                        }
                    </div>


                    <div class="pagination-wrap">
                        <!-- Bootstrap Pagination-->
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
                                <li class="page-item active"><span class="page-link">1</span></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
