<section>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- Product-->
        <article class="product">
            <div class="product-body">
                <div class="product-figure">
                    <img src="~/images/product-1-95x175.png" alt="" width="95" height="175" />
                </div>
                <h5 class="product-title"><a href="#">Mango</a></h5>
                <div class="product-price-wrap">
                    <div class="product-price product-price-old">$30.00</div>
                    <div class="product-price">$23.00</div>
                </div>
            </div><span class="product-badge product-badge-sale">Sale</span>
            <div class="product-button-wrap">
                <div class="product-button"><a class="button button-secondary" href="#"></a></div>
                <div class="product-button"><a class="button button-primary button" href="#"></a></div>
            </div>
        </article>
    </div>
</section>
