@page "/products/details"
@model Taste.Pages.Details.IndexModel
{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section head
{
    <link rel="stylesheet" href="~/css/product-details.css" />
}

@section body
{
    <script src="~/js/product-details.js"></script>
}


<h1>Index</h1>

<section class="mt-5">
    <div class="container">
        <div class="row row-30">
            <div class="col-lg-6 pr-md-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/images/single-product-1-530x480.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/single-product-2-530x480.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/single-product-3-530x480.jpg" alt="Third slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators arousel-indicators-custom">
                    <div data-target="#carouselExampleIndicators" data-slide-to="0" class="active item">
                        <img class="d-block w-100" src="~/images/single-product-1-530x480.png" alt="First slide" width="530">
                    </div>
                    <div data-target="#carouselExampleIndicators" data-slide-to="1" class="item">
                        <img class="d-block w-100" src="~/images/single-product-2-530x480.jpg" alt="Second slide" width="530">
                    </div>
                    <div data-target="#carouselExampleIndicators" data-slide-to="2" class="item">
                        <img class="d-block w-100" src="~/images/single-product-3-530x480.jpg" alt="Third slide" width="530">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <h1 class="">Oranges</h1>
                    <div class="group-middle my-3">
                        <h3 class="text-success">$20</h3>
                        <div class="single-product-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star-half"></span></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, ei impetus epicurei his, ne falli erant consequuntur est. Mei simul aperiam eu, an rebum regione ponderum mel. Facer placerat ut duo, id duis solum maiorum vis, vim autemsemper docendi cu. Pro</p>
                    <hr class="mb-4">
                    <ul class="list-description">
                        <li><span>Categories:</span><span>Citrus</span></li>
                        <li><span>Weight:</span><span>1 kg</span></li>
                        <li><span>Box:</span><span>60 x 60 x 90 cm</span></li>
                    </ul>
                    *https://www.codeply.com/go/2VmBU7TanF/bootstrap-plus-minus-counter-input*
                    <div class="group-middle mt-4">
                        <div class="row">
                            <div class="col-5">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number bg-danger" disabled="disabled" data-type="minus" data-field="quant[1]">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quant[1]" class="text-center form-control input-number" value="1" min="1" max="10">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number bg-primary" data-type="plus" data-field="quant[1]">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-success">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-gray-100">
                    <div class="group-middle">
                        <span class="list-social-title">Share</span>
                        <div>
                            <ul class="list-inline list-social list-inline-sm">
                                <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap tabs-->
        <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
            <!-- Nav tabs-->
            <div class="nav-tabs-wrap">
                <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation"><a class="nav-link active show" href="#tabs-1-1" data-toggle="tab">Reviews</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Additional information</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Delivery and payment</a></li>
                </ul>
            </div>
            <!-- Tab panes-->
            <div class="tab-content tab-content-1">
                <div class="tab-pane fade active show" id="tabs-1-1">
                    <div class="box-comment">
                        <div class="unit flex-column flex-sm-row unit-spacing-md">
                            <div class="unit-left"><a class="box-comment-figure" href="#"><img src="images/user-1-119x119.jpg" alt="" width="119" height="119"></a></div>
                            <div class="unit-body">
                                <div class="group-sm group-justify">
                                    <div>
                                        <div class="group-xs group-middle">
                                            <h5 class="box-comment-author"><a href="#">Jane Doe</a></h5>
                                            <div class="box-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star-half"></span></div>
                                        </div>
                                    </div>
                                    <div class="box-comment-time">
                                        <time datetime="2020-11-30">Nov 30, 2020</time>
                                    </div>
                                </div>
                                <p class="box-comment-text">Lorem ipsum dolor sit amet, has mutat labores nostrum ei. Duo te blandit erroribus, ut sea ipsum nonumy, mel no ignota accusamus gloriatur. Id has habeo regione, explicari hendrerit reprimique cum te.</p>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-transform-none font-weight-medium">Leave a Review</h4>
                    <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate">
                        <div class="row row-20 row-md-30">
                            <div class="col-lg-8">
                                <div class="row row-20 row-md-30">
                                    <div class="col-sm-6">
                                        <div class="form-wrap">
                                            <input class="form-input form-control-has-validation" id="contact-first-name-2" type="text" name="first-name" data-constraints="Required"><span class="form-validation"></span>
                                            <label class="form-label rd-input-label" for="contact-first-name-2">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-wrap">
                                            <input class="form-input form-control-has-validation" id="contact-last-name-2" type="text" name="last-name" data-constraints="Required"><span class="form-validation"></span>
                                            <label class="form-label rd-input-label" for="contact-last-name-2">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-wrap">
                                            <input class="form-input form-control-has-validation" id="contact-email-2" type="email" name="email" data-constraints="Email Required"><span class="form-validation"></span>
                                            <label class="form-label rd-input-label" for="contact-email-2">E-mail</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-wrap">
                                            <input class="form-input form-control-has-validation" id="contact-phone-2" type="text" name="phone" data-constraints="Numeric"><span class="form-validation"></span>
                                            <label class="form-label rd-input-label" for="contact-phone-2">Phone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-wrap">
                                    <label class="form-label rd-input-label" for="contact-message-2">Message</label>
                                    <textarea class="form-input textarea-lg form-control-has-validation form-control-last-child" id="contact-message-2" name="message" data-constraints="Required"></textarea><span class="form-validation"></span>
                                </div>
                            </div>
                        </div>
                        <button class="button button-lg button-secondary button-zakaria" type="submit">Submit</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">
                    <div class="single-product-info">
                        <div class="unit unit-spacing-md flex-column flex-sm-row align-items-sm-center">
                            <div class="unit-left"><span class="icon icon-80 mdi mdi-information-outline"></span></div>
                            <div class="unit-body">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabs-1-3">
                    <div class="single-product-info">
                        <div class="unit unit-spacing-md flex-column flex-sm-row align-items-sm-center">
                            <div class="unit-left"><span class="icon icon-80 mdi mdi-truck-delivery"></span></div>
                            <div class="unit-body">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat . At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

